body,
html{
	width:100%;
height:100%;
}
body{
padding-top:100px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "Lato" , "Helvetica Neue" ,Helvetica,Arial,sans-serif;
	font-weight: 700;
}
#content{
	min-height: 600px;
}
#banner-image
{
	 padding-top: 75px;
 padding-bottom: 50px;
 text-align: center;
 color:#f8f8f8;
	background:url("intro-bg_1.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;

}
#banner_content{
	position:relative;
	padding-top:6%;
	padding-bottom:6%;
	overflow:hidden;
	margin-bottom:12%;
	background-color:rgba(0,0,0,0.7);
	max-width:660px;
	
}
#item_list{
	padding-top: 50px;
}
#cameras:before,#watches:before,#shirts:before{
	display: block;
	content:" ";
	margin-top:-85px;
	height:85px;
	visibility:hidden;
}
#login-panel{
	font-weight:normal;

}

footer{
	position:fixed;
	padding: 10px 0px;
	
	text-align: center;
	bottom:0;
	background-color: #101010;
	color:#9d9d9d;
	width:100%;
}
.red{
	color:red;
}
#settings-container{
	margin-top:10px;
	margin-left:450px;
}
.navbar-brand{
	font-size:20px;
}
@media(max-width:768px){
	#banner_content{
		padding-bottom:15%;

}
.panel-margin{
	margin-top:50px;
	margin-bottom:50px;

	
}
.text-center{
	text-align:center;
}
.navbar-brand{
	font-size: 20px;
}
#settings-container{
	margin-bottom: 10px;
}